@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Shared Section Design part */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  color: white;
}
.btn.primary {
  background: #e6533c;
}

.btn.secondary {
  background-color: transparent;
  border: 1px solid white;
}

/* Navbar Section design part */

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav .logo {
  font-size: 30px;
  font-weight: 900;
  color: #e6533c;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid #282828;
  padding: 2px;
  border-radius: 50px;
}

nav ul li {
  padding: 4px 10px;
  font-size: 18px;
}

nav .menu-icon {
  display: none;
}

.active {
  background: #e6533c;
  border-radius: 50px;
}
/* Banner Section design part */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.banner-content h1 {
  font-size: 70px;
  font-weight: 900;
}

.banner-content p {
  font-size: 15px;
  color: #5c5c5c;
}

.button-container {
  display: flex;
  gap: 15px;
}

.banner-image-container {
  display: flex;
  justify-content: end;
}

.banner-image {
  width: max-content;
  position: relative;
}

.banner-image img {
  height: 500px;
}

.floating-card {
  position: absolute;
  background: #4c4c4c94;
  backdrop-filter: blur(5px);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.floating-card h5 {
  font-size: 25px;
  font-weight: 900;
}

.floating-card p {
  font-size: 12px;
  color: #898686;
}

.floating-card.top {
  top: 25%;
  right: -10%;
}

.floating-card.bottom {
  bottom: 20%;
  left: -15%;
}

.floating-card .circle {
  width: 50px;
  height: 50px;
  background: #e6533c;
  border-radius: 30px;
}

/* Change your habit section design part */
.habit-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5rem;
}
.habit-text-content h1{
  font-size: 50px;
}
.habit-text-content p{
  color: #5c5c5c;
}
.habit-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.habit-image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 10px;
  gap: 8px;
}

.habit-image-card p {
  color: gray;
}

.habit-image img {
  border: 0.5px dotted white;
  border-radius: 50%;
}

/* Run Section */
.run-container {
  background: #343434;
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.run-content {
  display: flex;

}
.run-text-content h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 15px;
}

.run-text-content p {
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}
.run-image{
  display: flex;
  justify-content: end;
}
.run-image img {
  width: 50%;
  border-radius: 18px;
  object-fit: cover;
}

/* Traning and Excercise Section */
.training h1{
  font-size: 50px;
}
.subtitle{
  color: #494949;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.top-row{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.bottom-row{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.3fr;
}
.card{
  position: relative;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlap{
  position: absolute;
  top:0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.overlap-1{
  background: #06ffd171;
  justify-content: end;
  color: black;
}
.overlap-2{
  background: #ff060e5f;
  justify-content: start;
}
.overlap-3{
  background: #626d6b71;
  justify-content: end;

}
.overlap-4{
  background: #0d120e91;
  align-items: end;

}
.overlap-5{
  background: #06ff4054;
  justify-content: end;

}
.overlap-6{
  background: #065dff61;
  justify-content: end;

}

.BMI-section{
  background: #202020;
  padding-bottom: 20px;
}

.BMI-section h1{
  font-size: 50px;
  margin-top: 50px;
  padding-top: 15px;
}

.BMI-container{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 20px;

}

.BMI-container table{
  border: 1px solid gray;
  border-collapse: collapse;
  margin-top: 20px;
}

.BMI-container table th,td{
  text-align: left;
  border: 1px solid gray;
  padding: 10px 20px;

}
.BMI-container table td{
  color: gray;
}

.calculator form{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.calculator form .span{
  grid-column: span 2;
}

input, select{
  border: none;
  background-color: #444343;
  color: #7f7e7e;
  padding: 10px 15px;
  border-radius: 5px;
}

.calculate-btn{
  padding-left: 40px;
  font-size: 15px;
}

/* Meet Our Team section */
.meet-container{
  background: #202020;
  border-radius: 15px;
}
.title-meet{
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}

.first-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px 20px 0 20px;
}
.second-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0 20px 0 20px;
}

.img-card{
  position: relative;
}
.meet-overlap{
  position: absolute;
  top: 10rem;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

}
.meet-overlap small{
  color: gray;
}
.img-card img{
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

/* Footer Section */
.footer-container{
  background: #202020;
  margin-top: 5rem;
}

footer .footer-container-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #494949;
}
.footer-content h1{
  color: #e6533c;
  font-size: 3rem;
  font-style: italic;
}
.footer-link{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.footer-link ul{
  list-style-type: none;
  color: #7b7a7a;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.copyright{
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #787777;
}





@media screen and (max-width: 425px) {
  nav .menu-icon {
    display: inline;
  }

  nav ul {
    display: none;
  }

  .banner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .banner-image-container {
    display: flex;
    justify-content: center;
  }

  .banner-content h1 {
    font-size: 30px;
    font-weight: 900;
  }

  .banner-content p {
    font-size: 10px;
    color: #5c5c5c;
  }

  .habit-image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .run-container{
    margin: 1rem;
  }

  .run-content{
    display: flex;
    flex-direction: column;
  }

  .run-text-content{
    display: flex;
    flex-direction: column;
  }
  .run-text-content h1{
    font-size: 30px;
  }

  .run-image{
    display: flex;
  justify-content: center;
  }
  .run-image img{
    width: 100%;
    margin-top: 20px;
  }
}



@media screen and (min-width: 768px) and (max-width: 992px) {
  .habit-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .run-container{
    margin-left: 20px;
  }
  .run-image img{
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .top-row{
    grid-template-columns: 1fr 1fr;
  }
  .top-row .hidden-card-1{
    display: none;
  }
  .bottom-row{
    grid-template-columns: 0.8fr 1fr;
  }
  .bottom-row .hidden-card-2{
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .BMI-container{
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .BMI-container{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 425px) {
  .first-row{
    grid-template-columns: 1fr;
  }
  .second-row{
    grid-template-columns: 1fr;
  }
  .img-card img{
    height: 100%;
  }
  .meet-overlap{
    bottom: -4rem;
  }
}

@media screen and (max-width: 425px) {
  footer .footer-container-2{
    grid-template-columns: 1fr;
  }
  .footer-link{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  footer .footer-container-2{
    grid-template-columns: 1fr;
  }
}